<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chama">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chama">




        <activity android:name=".LoginActivity" />

        <activity android:name=".ChamaCreatedActivity" />
        <activity android:name=".ChooseMemberActivity" />
        <activity android:name=".CreateNewChamaActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".PinEntryActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ContributeActivity" />
        <activity android:name=".HistoryTransactionActivity" />
        <activity android:name=".UserProfileActivity" />


        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
